{% extends "base.html" %}

{% block body_class %}page-result{% endblock %}

{% block content %}
    <div class="content">
        <h1>{{ page_title }}</h1>

        <h3>Reservation Details</h3>

        <p><strong>First Name:</strong> {{ reservation_data.first_name }}</p>
        <p><strong>Last Name:</strong> {{ reservation_data.last_name }}</p>
        <p><strong>Email:</strong> {{ reservation_data.email }}</p>
        <p><strong>Reservation Type:</strong> {{ reservation_data.reservation_type }}</p>
        <p><strong>Reservation Date:</strong> {{ reservation_data.reservation_date }}</p>
        <p><strong>Reservation Time:</strong> {{ reservation_data.reservation_time }}</p>
        <p><strong>Reservation Key:</strong> {{ reservation_data.hash_key }}</p>
    </div>
{% endblock %}