{% extends "base.html" %}

{% block content %}

    <!-- Introduction Section -->
    <section class="intro">
        <h2>Hello, There!</h2>
        <p>I'm excited to share my work and skills with you! I'm a passionate <strong>programmer</strong>, specializing in <strong>python</strong>. I love working on <strong>full stack projects</strong>, and I'm always excited to take on new challenges!</p>
    </section>

    <!-- Skills Section -->
    <section class="skills">
        <h3>Skills</h3>
        <div class="skills-container">
            <div class="skill">
                <h4>Web Development</h4>
                <p>Expertise in HTML, CSS, and Python framework Flask for full stack development. </p>
            </div>
            <div class="skill">
                <h4>Database Management</h4>
                <p>Experience with SQL, PostgreSQL, MongoDB, and efficient data handling.</p>
            </div>
            <div class="skill">
                <h4>Python Programming</h4>
                <p>Advanced skills in Python for scripting, web development, and data analysis.</p>
            </div>
        </div>
    </section>


    <!-- Featured Projects Section -->
    <section class="projects">
        <h3>Featured Projects</h3>
        <div class="projects-container">
            <div class="project">
                <h4>Flask Starter Template</h4>
                <p>Barebone flask starter project with hybrid static/dynamic routing. Best use case for a static website with multiple pages.</p>
                <a href="https://github.com/AbedMahmood/flask_starter_template" class="button">View Project</a>
            </div>
            <div class="project">
                <h4>Flask Reservation App</h4>
                <p>A website to make reservations which demonstrates the understanding of full stack development of a web app.</p>
                <a href="https://github.com/AbedMahmood/flask_reservation_app" class="button">View Project</a>
            </div>
        </div>
    </section>


    <!-- Testimonials Section -->
    <section class="testimonials">
        <h3>What People Are Saying</h3>
        <blockquote>
            <p>"[Your Name] is an incredible [Your Profession]. They delivered great work and exceeded our expectations!"</p>
            <footer>- [Client Name]</footer>
        </blockquote>
    </section>

    <!-- Contact Information Section -->
    <section class="contact">
        <h3>Contact Me</h3>
        <p>Feel free to reach out for collaborations or just to say hello!</p>
        <ul>
            <li>GitHub: https://github.com/AbedMahmood</li>
        </ul>
    </section>
{% endblock %}
